*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}

body {
    width: 560px;
    height: 200px;
    padding: 0 3rem;
    font-size: 1.6rem;
}

header{
    margin-top: 3rem;
}

.buyer_name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 600;
}

.buyer_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: .5rem;
}

.info_lebel{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(59, 59, 59);
}
.info_value{
    font-size: 1.4rem;
    font-weight: 400;
    color: #0e0e0e;
    margin-top: .5rem;
}



.results_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #2F6048;
    margin-top: 4rem;
}

.divider{
    height: .2rem;
    width: 100%;
    margin-top: 1rem;
    background-color: #cfcfcf;
}

.results{
    padding-top: 2rem;
}
.result{
    padding-bottom: 2rem;
    position: relative;
    padding-left: 2rem;
}
.result_header{
    display: flex;
    justify-content: space-between;
}
.result_name{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0e0e0e;
}
.see_matter{
    font-size: 1.4rem;
    font-weight: 500;
    color: #33855d;
    margin-top: 2.5rem;
    text-decoration: none;
}
.result_beauty{
    height: 100%;
    width: 2px;
    background-color: #cfcfcf;
    position: absolute;
    top: .7rem;
    left: 0;
}
.result_beauty::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.4rem;
    height: 10px;
    width: 10px;
    background-color: #9c9c9c;
    border-radius: 50%;
}